<body class="location">
  <div class="location_margin">
    <ul class='nav'>
      <li class='nav'><a class='nav' href="/">Home</a></li>
      <li class='nav'><a class='nav' href="/world_bosses">All World Bosses</a></li>
      <li class='nav'><a class='nav' href="/loots">All Loot</a></li>
    </ul>

<h1 id='zelda'><%= "#{@world_boss.name} Loot Table" %></h1>

<% @loots = @world_boss.min_armor(params[:armor]) if params[:armor] %>
<% @loots.each do |loot| %>
  <div class="container">
    <h3><a href="/loots/<%= loot.id %>"><%= loot.name %></a></h3>
    <ul>
      <li>Is it a memory? <%= loot.memory %> </li>
      <li> Armor: <%= loot.armor %> </li>
    </ul>
  </div>
<% end %>

<%= button_to "New Loot", "/world_bosses/#{@world_boss.id}/loots/new", method: :get, class: 'button' %> <br><br>
<%= link_to "Sort Loot Alphabetically", "/world_bosses/#{@world_boss.id}/loots?sort=true" %><br><br>

<%= form_with url: "/world_bosses/#{@world_boss.id}/loots", method: :get, local: true do |form| %>
<%= form.label :armor %>
<%= form.number_field :armor %>
<%= form.submit "Filter by armor", class: 'button' %>
<% end %>

</div>
</body>
