<body class="new_update_wow">
  <div class="new_update_margin">

    <h1> <%=  "Edit #{@loot.name}"%></h1>

    <b><%= form_with url: "/loots/#{@loot.id}", method: :patch, local: true do |form| %>
    <%= form.label :name %><br>
    <%= form.text_field :name, value: "#{@loot.name}", class: 'form_update' %><br><br><br>
    <%= form.label :armor %><br>
    <%= form.number_field :armor, value: "#{@loot.armor}", class: 'form_update' %><br><br><br>
    <%= form.label :memory %><br>
    <%= form.check_box :memory, {checked: @loot.armor}, class: 'form_update' %><br><br><br>
      <%= form.submit "Update Loot", class: 'button_update'%>
    <% end %></b>
  </div>
</body>
