<a href="/world_bosses"> All World Bosses</a>
<a href="/loots"> All Loot</a>

<h1>World of Warcraft(Shadowlands) Loot Table</h1>

<% @loots.each do |loot| %>
  <h3><a href="/loots/<%= loot.id %>"><%= loot.name %></a></h3>
  <p><%= button_to "Edit #{loot.name}", "/loots/#{loot.id}/edit", method: :get %></p>
  <p><%= button_to "Delete #{loot.name}", "/loots/#{loot.id}/delete", method: :delete %></p>
  
  <ul>
    <li> ID: <%= loot.id %> </li>
    <li> Boss ID: <%= loot.world_boss.id %> </li>
    <li> Created at: <%= loot.created_at %> </li>
    <li> Updated at: <%= loot.updated_at %> </li>
    <li>Is it a memory? <%= loot.memory %> </li>
    <li> Armor: <%= loot.armor %> </li>
  </ul>
<% end %>
