<a href="/"> Home</a>
<a href="/world_bosses"> All World Bosses</a>
<a href="/loots"> All Loot</a>

<h1>World of Warcraft Shadowlands Loot Table</h1>

<%= form_with url: "/loots", method: :get, local: true do |form| %>
  <%= form.text_field :search_exact %>
  <%= form.submit "Search by exact name", class: 'button' %>
<% end %><br>

<%= form_with url: "/loots", method: :get, local: true do |form| %>
  <%= form.text_field :search_partial %>
  <%= form.submit "Search by partial name", class: 'button' %>
<% end %>

<% @loots.each do |loot| %>
  <h3><a href="/loots/<%= loot.id %>"><%= loot.name %></a></h3>

  <ul>
    <li> Dropped by: <%= loot.world_boss.name %> </li>
    <li>Is it a memory? <%= loot.memory %> </li>
    <li> Armor: <%= loot.armor %> </li>
  </ul>
  
  <p><%= button_to "Edit #{loot.name}", "/loots/#{loot.id}/edit", method: :get, class: 'button' %></p>
  <p><%= button_to "Delete #{loot.name}", "/loots/#{loot.id}/delete", method: :delete, class: 'button'%></p>
<% end %>
