<body class="location">
  <div class="location_margin">
    <ul class='nav'>
      <li class='nav'><a class='nav' href="/">Home</a></li>
      <li class='nav'><a class='nav' href="/world_bosses">All World Bosses</a></li>
      <li class='nav'><a class='nav' href="/loots">All Loot</a></li>
    </ul>

    <h1 id='zelda'>World of Warcraft Shadowlands Loot Table</h1>

    <%= form_with url: "/loots", method: :get, local: true do |form| %>
    <%= form.text_field :search_exact %>
    <%= form.submit "Search by exact name", class: 'button' %>
    <% end %><br>

    <%= form_with url: "/loots", method: :get, local: true do |form| %>
    <%= form.text_field :search_partial %>
    <%= form.submit "Search by partial name", class: 'button' %>
    <% end %><br>

    <% @loots.each do |loot| %>
      <div class='container'>
        <h3><a href="/loots/<%= loot.id %>"><%= loot.name %></a></h3>
      <ul>
        <li> Dropped by: <%= loot.world_boss.name %> </li>
        <li>Is it a memory? <%= loot.memory %> </li>
        <li> Armor: <%= loot.armor %> </li>
      </ul>
      <%= button_to "Edit #{loot.name}", "/loots/#{loot.id}/edit", method: :get, class: 'button' %></p>
      <%= button_to "Delete #{loot.name}", "/loots/#{loot.id}/delete", method: :delete, class: 'button'%></p>
      </div>
    <% end %>
  </div>
</body>
