<a href="/regions">All Regions</a>
<a href="/locations">All Locations</a>
<h1><%= @region.name %> - Locations</h1>

<% @locations = @region.ordered_locations if params[:order] %>
<% @locations.each do |location| %>
    <h3><a href="/locations/<%= location.id %>"><%= location.name %></a></h3>
  <ul>
    <li>ID: <%= location.id %></li>
    <li>Region ID: <%= location.region_id %></li>
    <li>Created At: <%= location.created_at %></li>
    <li>Updated At: <%= location.updated_at %></li>
    <li>Is Cold: <%= location.is_cold %></li>
    <li>Number of Korok Seeds: <%= location.korok_seeds %></li>
  </ul>
<% end %>

<%= button_to "New Location", "/regions/#{@region.id}/locations/new", method: :get, class: 'button' %><br>

<%= link_to "Sort Locations Alphabetically", "/regions/#{@region.id}/locations?order=true"%><br><br>

<%= form_with url: "/regions/#{@region.id}/locations", method: :get, local: true do |form| %>
  <% params[:korok_seeds] ||= 0 %>
  <%= form.label :korok_seeds %>
  <%= form.number_field :korok_seeds %>
  <%= form.submit "Only return records with more than #{params[:korok_seeds]} Korok Seeds", class: 'button'  %>
<% end %>
