<h1>Update <%= @region.name %></h1>

<%= form_with url: "/regions/#{@region.id}", method: :patch, local: true do |form| %>
  <%= form.label :name %><br>
  <%= form.text_field :name %><br><br>
  <%= form.label :has_divine_beast %><br>
  <%= form.check_box :has_divine_beast %><br><br>
  <%= form.label :number_of_shrines %><br>
  <%= form.number_field :shrines %><br><br>
  <%= form.submit "Update Region", class: 'button' %>
<% end %>
