<body class="region">
  <div class="region_margin">

    <a href="/locations">All Locations</a>
    <h1 id="zelda">Legend of Zelda: <br>Breath of the Wild - Regions</h1>

    <% @regions.ordered_regions(params[:sort]).each do |region| %>
    <div class="container">
      <h2><a href="/regions/<%= region.id %>"><%= region.name %></a></h2>
      <p><b>Created at: <%= region.created_at %></b></p>
      <p><b>Number of Locations: <%= region.location_count %></b></p>
      <%= button_to "Edit #{region.name}", "/regions/#{region.id}/edit",
        method: :get, class: 'button', form: {style: 'display:inline-block;'} %>
      <%= button_to "Delete #{region.name}", "/regions/#{region.id}",
        method: :delete, class: 'button', form: {style: 'display:inline-block;'} %><br><br>
    </div>
    <% end %>
    <br>

    <%= button_to "New Region", "/regions/new", method: :get, class: 'button_new' %>
    <%= button_to "Sort by Number of Locations", "/regions", params: {sort: :locations}, method: :get, class: 'button_new' %>
    <br>
  </div>
</body>
