<body class="new_update">
  <div class="new_update_margin">
    <h1>Create a New Region</h1>

    <%= form_with url: '/regions', method: :post, local: true do |form| %>
      <b><%= form.label :name %><br>
      <%= form.text_field :name, class: 'form_update' %><br><br>
      <%= form.label :number_of_shrines %><br>
      <%= form.number_field :shrines, class: 'form_update' %><br><br><br>
      <%= form.label :has_divine_beast %>
      <%= form.check_box :has_divine_beast %><br><br><br>
      <%= form.submit "Create Region", class: 'button_update' %></b>
    <% end %>
  </div>
</body>
