<a href="/regions">All Regions</a>
<a href="/locations">All Locations</a>
<h1><%= @region.name %></h1>
<p>Is there a Divine Beast?: <%= @region.has_divine_beast %></p>
<p>How many shrines? <%= @region.shrines %></p>
<p>Number of Locations: <%= @region.location_count %></p>

<a href="/regions/<%= "#{@region.id}"%>/locations"><%= @region.name %> - Locations</a><br><br>

<%= button_to "Edit #{@region.name}", "/regions/#{@region.id}/edit", method: :get, class: 'button' %>
<%= button_to "Delete #{@region.name}", "/regions/#{@region.id}", method: :delete, class: 'button' %>
