<body class="location">
  <div class="location_margin">
    <ul class='nav'>
      <li class='nav'><a class='nav' href="/">Home</a></li>
      <li class='nav'><a class='nav' href="/regions">All Regions</a></li>
      <li class='nav'><a class='nav' href="/locations">All Locations</a></li>
    </ul>

    <h1 id='zelda'>Legend of Zelda: <br>Breath of the Wild - Locations</h1>

    <%= form_with url: "/locations", method: :get, local: true do |f| %>
    <%= f.text_field :search, class: 'koroks' %>
    <%= f.submit "Search by Exact Name", class: 'button_location' %>
    <% end %><br>

    <%= form_with url: "/locations", method: :get, local: true do |f| %>
    <%= f.text_field :search_partial, class: 'koroks' %>
    <%= f.submit "Search by Partial Name", class: 'button_location' %>
    <% end %>

    <% @locations.each do |location| %>
      <% if location.is_cold == true %>
      <div class="container">
          <h2><a href="/locations/<%= location.id %>"><%= location.name %></a></h2>
        <ul>
          <li>ID: <%= location.id %></li>
          <li>Region ID: <%= location.region_id %></li>
          <li>Created At: <%= location.created_at %></li>
          <li>Updated At: <%= location.updated_at %></li>
          <li>Is Cold: <%= location.is_cold %></li>
          <li>Number of Korok Seeds: <%= location.korok_seeds %></li>
        </ul>
        <%= button_to "Edit #{location.name}", "/locations/#{location.id}/edit", method: :get, class: 'button_location', form: {style: 'display:inline-block;'} %>
        <%= button_to "Delete #{location.name}", "/locations/#{location.id}", method: :delete, class: 'button_location', form: {style: 'display:inline-block;'} %><br><br>
      </div>
      <% end %>
    <% end %>
  </div>
</body>
