<body id='show_wow'>
<div id="show_wow_sidebar">
  <ul class='nav'>
    <li class='nav'><a class='nav' href="/">Home</a></li>
    <li class='nav'><a class='nav' href="/world_bosses">All World Bosses</a></li>
    <li class='nav'><a class='nav' href="/loots">All Loot</a></li>
  </ul>

    <h1 id=zelda_show><%= @world_boss.name %></h1>
    <p>Max Health: <%= @world_boss.max_health %></p>
    <p>Current World Boss? <%= @world_boss.is_current_boss %></p>
    <p>Zone: <%= @world_boss.zone %></p>
    <a href="/world_bosses/<%= "#{@world_boss.id}"%>/loots"><%= @world_boss.name %> Loot Table </a>
    <p> Pieces of loot: <%= @world_boss.loot_count %></p>

    <%= button_to "Edit #{@world_boss.name}", "/world_bosses/#{@world_boss.id}/edit",
    method: :get, class: 'button' %><br>
    <%= button_to "Delete #{@world_boss.name}", "/world_bosses/#{@world_boss.id}/delete",
    method: :delete, class: 'button' %>

</div>
</body>
